@charset "UTF-8";

.contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr, 300px, 1fr, minmax(max-content, 1000px);
}

.contents__featured-title {
  grid-row: 1;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: #EEEEEE;
  background: #555555;
  border-left: solid 5px #CC6666;
}

.featured-product {
  grid-row: 2;
}

.contents__common-title {
  grid-row: 3;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: #EEEEEE;
  background: #555555;
  border-left: solid 5px #CC6666;
}

.common-product {
  grid-row: 4;
}


