{% extends "official_site/common/base.html" %}

{% block contents %}

<section class="common-form">
    <form method="post">
        {% csrf_token %}
        ユーザー名: {{ form.username }}<br>{{ form.username.errors }}<br>
        E-MAIL: {{ form.email }}<br>{{ form.email.errors }}<br>
        パスワード: {{ form.password1 }}<br>{{ form.password1.errors }}<br>
        確認のため、もう一度パスワードを入力してください: {{ form.password2 }}<br>{{ form.password2.errors }}<br>
        <button type="submit" class="submit">Sign up</button>
    </form>
</section>


{% endblock %}