@charset "UTF-8";

html {
  font-size: 10px;
}

/*===============================================
画面の横幅が768px以上（パソコン用）
===============================================*/
@media screen and (min-width: 768px) {
  /*-- 全体（サイズ、レイアウト、背景） --*/
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F4F5F7;
    color: #222222;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .sp_only {
    display: none;
  }
  /*-- ヘッダー --*/
  .header {
    width: 100%;
    border-style: none;
    background-color: #333333;
  }

  /*-- グローバルナビ --*/
  .nav_menu ul {
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #333333, #666666);
    background-image: -webkit-linear-gradient(top, #333333, #666666);
    float: right;
    border-top: 1px solid #888888;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .nav_menu ul li {
    display: inline;
    width: 16.5%;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
  }
  .nav_menu ul li a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    color: #FFFFFF;
  }
  .nav_menu li+li {
    border-left: 1px solid #888888;
  }

  /*-- コンテンツ --*/
  .contents {
    max-width: 100%;
    margin: 0 10% 0 10%;
    padding: 5% 0 5% 0;
    flex: 1;
  }

  /*-- フッター --*/
  .footer {
    width: 100%;
    background-color: #222222 !important;
    color: #FFFFFF;
  }
  .footer .copyright {
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .footer .copyright span {
    margin: 0;
    padding: 0;
  }
}

/*===============================================
画面の横幅が767pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 767px) {
  /*-- 全体（サイズ、レイアウト、背景） --*/
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F4F5F7;
    color: #222222;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  /*-- ヘッダー --*/
  .header {
    width: 100%;
    height: 64px;
    border-style: none;
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #333333, #666666);
    background-image: -webkit-linear-gradient(top, #333333, #666666);
  }
  .header img {
    width: 78%;
    max-height: 100%;
    object-fit: contain;
    max-height: 100%;
  }

  /*-- モーダルメニュー --*/
  .modal_on {
    width: 18%;
    height: 85%;
    margin: 1%;
    justify-content: center;
    align-items: center;
    float: right;
    border: solid 1px #555555;
    background-color: #9D1313;
    color: #EEEEEE;
    display: flex;
  }
  .nav_menu {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0;
    z-index: 99;
    top: 0;
    background-color: rgba(145, 131, 131, 0.8);
    visibility: hidden;
    opacity: 0;
  }
  .nav_menu ul {
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
    background-color: #FFFFFF;
    position: relative;
  }
  .nav_menu ul li {
    height: 20%;
    margin-bottom: 1%;
    line-height: 3.6rem;
    justify-content: center;
    border-left: solid 6px #9D1313;
    background-color: #555555;
    font-size: 2.4rem;
  }
  .nav_menu ul li a {
    width: 95%;
    height: 100%;
    padding: 5% 0 5% 5%;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
  }
  .open {
    transition: all .5s;
    visibility: visible;
    opacity: 1;
  }

  /*-- コンテンツ --*/
  .contents {
    max-width: 100%;
    margin-bottom: 5%;
    padding: 0;
    flex: 1;
  }

  /*-- フッター --*/
  .footer {
    width: 100%;
    background-color: #222222;
    color: #FFFFFF;
  }
  .footer .copyright {
    text-align: center;
  }
}