{% extends 'portfolio/common/base.html' %}
{% load static %}

{% block title %}
<title>ECサイトサンプル カート画面 | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="ECサイト用のサンプル。カート画面。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="ECサイトサンプル カート画面 | Noots-Val">
<meta property="og:description" content="ECサイト用のサンプル。カート画面。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/cart.css' %}"/>
{% endblock %}

{% block contents %}

カート画面
<a href="{% url 'portfolio:payment' %}">お支払い</a>
{% for cart in cart_list %}
<div>
    <p>{{ cart.product.product_title }}</p>
    <p>{{ cart.product.image_url }}</p>
    <p>{{ cart.product.price }}</p>
    <p>{{ cart.product.description }}</p>
    <p>{{ cart.product.stock }}</p>
    <p>{{ cart.user.id }}</p>
    <hr>
</div>
{% endfor %}

{% endblock %}