{% extends 'portfolio/common/ec_base.html' %}
{% load static %}

{% block title %}
<title>ECサイトサンプル カート画面 | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="ECサイト用のサンプル。カート画面。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="ECサイトサンプル カート画面 | Noots-Val">
<meta property="og:description" content="ECサイト用のサンプル。カート画面。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/ec_cart.css' %}"/>
{% endblock %}

{% block contents %}

カート画面
<a href="{% url 'portfolio:ec_payment' %}">お支払い</a>

{% endblock %}