{% extends 'portfolio/common/ec_base.html' %}
{% load static %}

{% block title %}
<title>ECサイトサンプル トップ | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="ECサイト用のサンプル。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="ECサイトサンプル トップ | Noots-Val">
<meta property="og:description" content="ECサイト用のサンプル。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/ec_index.css' %}"/>
{% endblock %}

{% block contents %}

<a href="{% url 'portfolio:ec_index' %}?category=cat">ネコ</a>
<a href="{% url 'portfolio:ec_index' %}?category=dog">イヌ</a>
<a href="{% url 'portfolio:ec_index' %}?category=rare">珍獣</a>
<p>{{ category }}</p>
{% for commodity in commodity_list %}
<div>
    <a href="{% url 'portfolio:ec_detail' %}?id={{ commodity.id }}">
        <p>{{ commodity.commodity_title }}</p>
        <p>{{ commodity.image_url }}</p>
        <p>{{ commodity.price }}</p>
        <p>{{ commodity.special_flg }}</p>
        <p>{{ commodity.favorite_flg }}</p>
    </a>
</div>
{% endfor %}

{% endblock %}