{% extends 'portfolio/common/ec_base.html' %}
{% load static %}

{% block title %}
<title>トップ | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。まだ、特に何もないです。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="トップ | Noots-Val">
<meta property="og:description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。まだ、特に何もないです。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/ec_index.css' %}"/>
{% endblock %}

{% block contents %}
<div class="map_block">
    <img class="map_jpn" src="{% static 'portfolio/img/map.png' %}"/>
    <div class="base_balloon kanto_balloon"><span>関東</span><span>エリア</span></div>
    <div class="base_balloon chubu_balloon"><span>中部</span><span>エリア</span></div>
</div>

{% endblock %}
