{% extends 'portfolio/common/base.html' %}
{% load static %}

{% block title %}
<title>ECサイトサンプル トップ | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="ECサイト用のサンプル。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="ECサイトサンプル トップ | Noots-Val">
<meta property="og:description" content="ECサイト用のサンプル。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/Layout/index/contents.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/Object/common_product.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/Object/feature_product.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/Object/product.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/Object/cart_btn.css' %}"/>
{% endblock %}

{% block contents %}
<h1 class="contents__featured-title">メインコンテンツ</h1>
<div class="featured-product">
    <div class="product">
        <div class="product__title">これはまだクリック出来ないです</div>
        <div class="product__image-area">
            <img class="product__image" src="../../../static/portfolio/img/sample.png">
        </div>
        <div class="product__category">なんでも</div>
        <div class="product__price">999,999,999円</div>
        <span class="product__special-icon">特価</span>
        <div class="product__favorite-icon">★</div>
    </div>
</div>

<h1 class="contents__common-title">サブコンテンツ</h1>
<div class="category">
    カテゴリーでーす！　レイアウトは後で整えまーす！
    <a href="{% url 'portfolio:index' %}?category=cat">ネコ</a>
    <a href="{% url 'portfolio:index' %}?category=dog">イヌ</a>
    <a href="{% url 'portfolio:index' %}?category=rare">珍獣</a>
</div>
<div class="common-product">
    {% for product in product_list %}
    <a class="common-product__link" href="{% url 'portfolio:detail' product.pk %}">
        <div class="product">
            <div class="product__title">{{ product.product_title }}</div>
            <div class="product__image-area">
                <img class="product__image" src="{{ product.image_url }}">
            </div>
            <div class="product__category">{{ product.category }}</div>
            <div class="product__price">{{ product.price }}円</div>
            <span class="product__special-icon">特価{{ product.special_flg }}</span>
            <div class="product__favorite-icon">★{{ product.favorite_flg }}</div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="cart-btn"><a href="{% url 'portfolio:cart' %}">車</a></div>
{% endblock %}