{% extends 'portfolio/common/base.html' %}
{% load static %}

{% block title %}
<title>ECサイトサンプル 支払い完了画面 | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="ECサイト用のサンプル。支払い完了画面。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="ECサイトサンプル 支払い完了画面 | Noots-Val">
<meta property="og:description" content="ECサイト用のサンプル。支払い完了画面。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/payment_complete.css' %}"/>
{% endblock %}

{% block contents %}

支払い完了画面
<a href="{% url 'portfolio:index' %}">トップに戻る</a>
お支払いが完了しました！
{% endblock %}