@charset "UTF-8";

/*===============================================
画面の横幅が768px以上（パソコン用）
===============================================*/

@media screen and (min-width: 768px) {
  div {
    border: 4px solid #CCCCCC;
  }

  /*-- 日本地図 --*/
  .map_block {
    position: relative;
    width: 70vh;
    height: 70vh;
    padding: 10%;
    border: solid 1px #333333;
  }
  .map_jpn {
    width: 100%;
  }
  .base_balloon {
    display: flex;
    width: 10vh;
    height: 10vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
  }

  .kanto_balloon {
    position: absolute;
    background-color: #3DA841;
    color: #FFFFFF;
    top: 55%;
    left: 65%;
  }
  .kanto_balloon:before {
    content: "";
    position: absolute;
    top: 25%;
    left: -25px;
    border: 15px solid transparent;
    border-right: 15px solid #3DA841;
    z-index: 0;
  }

  .chubu_balloon {
    position: absolute;
    background-color: #99CC33;
    color: #FFFFFF;
    top: 55%;
    left: 25%;
  }
  .chubu_balloon:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 100%;
	border: 8px solid transparent;
	border-left: 8px solid #99CC33;
	z-index: 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }


/*===============================================
画面の横幅が767pxまで（スマホ用）
===============================================*/

@media screen and (max-width: 767px) {
  /*-- 日本地図 --*/
}