@charset "UTF-8";

/*===============================================
全体の列数（x軸）・行数（y軸）
===============================================*/
.g-10x { grid-template-columns: repeat(10, 1fr) !important; }
.g-10y { grid-template-rows: repeat(10, 1fr) !important; }


/*===============================================
x軸の配置
===============================================*/

.g-1x1x { grid-column: 1/1 !important; }
.g-1x2x { grid-column: 1/2 !important; }
.g-1x3x { grid-column: 1/3 !important; }
.g-1x4x { grid-column: 1/4 !important; }
.g-1x5x { grid-column: 1/5 !important; }
.g-1x6x { grid-column: 1/6 !important; }
.g-1x7x { grid-column: 1/7 !important; }
.g-1x8x { grid-column: 1/8 !important; }
.g-1x9x { grid-column: 1/9 !important; }
.g-1x10x { grid-column: 1/10 !important; }
.g-1x11x { grid-column: 1/11 !important; }

.g-2x2x { grid-column: 2/2 !important; }
.g-2x3x { grid-column: 2/3 !important; }
.g-2x4x { grid-column: 2/4 !important; }
.g-2x5x { grid-column: 2/5 !important; }
.g-2x6x { grid-column: 2/6 !important; }
.g-2x7x { grid-column: 2/7 !important; }
.g-2x8x { grid-column: 2/8 !important; }
.g-2x9x { grid-column: 2/9 !important; }
.g-2x10x { grid-column: 2/10 !important; }
.g-2x11x { grid-column: 2/11 !important; }

.g-3x3x { grid-column: 3/3 !important; }
.g-3x4x { grid-column: 3/4 !important; }
.g-3x5x { grid-column: 3/5 !important; }
.g-3x6x { grid-column: 3/6 !important; }
.g-3x7x { grid-column: 3/7 !important; }
.g-3x8x { grid-column: 3/8 !important; }
.g-3x9x { grid-column: 3/9 !important; }
.g-3x10x { grid-column: 3/10 !important; }
.g-3x11x { grid-column: 3/11 !important; }

.g-4x4x { grid-column: 4/4 !important; }
.g-4x5x { grid-column: 4/5 !important; }
.g-4x6x { grid-column: 4/6 !important; }
.g-4x7x { grid-column: 4/7 !important; }
.g-4x8x { grid-column: 4/8 !important; }
.g-4x9x { grid-column: 4/9 !important; }
.g-4x10x { grid-column: 4/10 !important; }
.g-4x11x { grid-column: 4/11 !important; }

.g-5x5x { grid-column: 5/5 !important; }
.g-5x6x { grid-column: 5/6 !important; }
.g-5x7x { grid-column: 5/7 !important; }
.g-5x8x { grid-column: 5/8 !important; }
.g-5x9x { grid-column: 5/9 !important; }
.g-5x10x { grid-column: 5/10 !important; }
.g-5x11x { grid-column: 5/11 !important; }

.g-6x6x { grid-column: 6/6 !important; }
.g-6x7x { grid-column: 6/7 !important; }
.g-6x8x { grid-column: 6/8 !important; }
.g-6x9x { grid-column: 6/9 !important; }
.g-6x10x { grid-column: 6/10 !important; }
.g-6x11x { grid-column: 6/11 !important; }

.g-7x7x { grid-column: 7/7 !important; }
.g-7x8x { grid-column: 7/8 !important; }
.g-7x9x { grid-column: 7/9 !important; }
.g-7x10x { grid-column: 7/10 !important; }
.g-7x11x { grid-column: 7/11 !important; }

.g-8x8x { grid-column: 8/8 !important; }
.g-8x9x { grid-column: 8/9 !important; }
.g-8x10x { grid-column: 8/10 !important; }
.g-8x11x { grid-column: 8/11 !important; }

.g-9x9x { grid-column: 9/9 !important; }
.g-9x10x { grid-column: 9/10 !important; }
.g-9x11x { grid-column: 9/11 !important; }

.g-10x10x { grid-column: 10/10 !important; }
.g-10x11x { grid-column: 11/11 !important; }

.g-11x11x { grid-column: 11/11 !important; }


/*===============================================
y軸の配置
===============================================*/

.g-1y1y { grid-row: 1/1 !important; }
.g-1y2y { grid-row: 1/2 !important; }
.g-1y3y { grid-row: 1/3 !important; }
.g-1y4y { grid-row: 1/4 !important; }
.g-1y5y { grid-row: 1/5 !important; }
.g-1y6y { grid-row: 1/6 !important; }
.g-1y7y { grid-row: 1/7 !important; }
.g-1y8y { grid-row: 1/8 !important; }
.g-1y9y { grid-row: 1/9 !important; }
.g-1y10y { grid-row: 1/10 !important; }
.g-1y11y { grid-row: 1/11 !important; }

.g-2y2y { grid-row: 2/2 !important; }
.g-2y3y { grid-row: 2/3 !important; }
.g-2y4y { grid-row: 2/4 !important; }
.g-2y5y { grid-row: 2/5 !important; }
.g-2y6y { grid-row: 2/6 !important; }
.g-2y7y { grid-row: 2/7 !important; }
.g-2y8y { grid-row: 2/8 !important; }
.g-2y9y { grid-row: 2/9 !important; }
.g-2y10y { grid-row: 2/10 !important; }
.g-2y11y { grid-row: 2/11 !important; }

.g-3y3y { grid-row: 3/3 !important; }
.g-3y4y { grid-row: 3/4 !important; }
.g-3y5y { grid-row: 3/5 !important; }
.g-3y6y { grid-row: 3/6 !important; }
.g-3y7y { grid-row: 3/7 !important; }
.g-3y8y { grid-row: 3/8 !important; }
.g-3y9y { grid-row: 3/9 !important; }
.g-3y10y { grid-row: 3/10 !important; }
.g-3y11y { grid-row: 3/11 !important; }

.g-4y4y { grid-row: 4/4 !important; }
.g-4y5y { grid-row: 4/5 !important; }
.g-4y6y { grid-row: 4/6 !important; }
.g-4y7y { grid-row: 4/7 !important; }
.g-4y8y { grid-row: 4/8 !important; }
.g-4y9y { grid-row: 4/9 !important; }
.g-4y10y { grid-row: 4/10 !important; }
.g-4y11y { grid-row: 4/11 !important; }

.g-5y5y { grid-row: 5/5 !important; }
.g-5y6y { grid-row: 5/6 !important; }
.g-5y7y { grid-row: 5/7 !important; }
.g-5y8y { grid-row: 5/8 !important; }
.g-5y9y { grid-row: 5/9 !important; }
.g-5y10y { grid-row: 5/10 !important; }
.g-5y11y { grid-row: 5/11 !important; }

.g-6y6y { grid-row: 6/6 !important; }
.g-6y7y { grid-row: 6/7 !important; }
.g-6y8y { grid-row: 6/8 !important; }
.g-6y9y { grid-row: 6/9 !important; }
.g-6y10y { grid-row: 6/10 !important; }
.g-6y11y { grid-row: 6/11 !important; }

.g-7y7y { grid-row: 7/7 !important; }
.g-7y8y { grid-row: 7/8 !important; }
.g-7y9y { grid-row: 7/9 !important; }
.g-7y10y { grid-row: 7/10 !important; }
.g-7y11y { grid-row: 7/11 !important; }

.g-8y8y { grid-row: 8/8 !important; }
.g-8y9y { grid-row: 8/9 !important; }
.g-8y10y { grid-row: 8/10 !important; }
.g-8y11y { grid-row: 8/11 !important; }

.g-9y9y { grid-row: 9/9 !important; }
.g-9y10y { grid-row: 9/10 !important; }
.g-9y11y { grid-row: 9/11 !important; }

.g-10y10y { grid-row: 10/10 !important; }
.g-10y11y { grid-row: 11/11 !important; }

.g-11y11y { grid-row: 11/11 !important; }

/*===============================================
画面の横幅が768px以上（パソコン用）
===============================================*/
@media screen and (min-width: 768px) {
  .g-base-x { grid-column: 2/10  !important; }
}

/*===============================================
画面の横幅が767pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 767px) {
  .g-base-x { grid-column: 1/11 !important; }
}

