</html>
{% extends 'common/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'official_site/css/assertion.css' %}"/>
{% endblock %}

{% block contents %}
<section class="assertion">
    <h1>主張</h1>
    <h2>IT業界について</h2>
    {% for assertion in assertion_list %}
        {% ifequal assertion.category 'it' %}
            {{ assertion.title }}
        {% endifequal %}
    {% endfor %}
    <h2>社会について</h2>
    {% for assertion in assertion_list %}
        {% ifequal assertion.category 'social' %}
            {{ assertion.title }}
        {% endifequal %}
    {% endfor %}
</section>

<section class="objective">
    <h1>目標</h1>
    <h2>長期的な目標</h2>
    {% for objective in objective_list %}
        {% ifequal objective.category 'long_term' %}
             {{ objective.title }}
        {% endifequal %}
    {% endfor %}

    <h2>短期的な目標</h2>
    {% for objective in objective_list %}
        {% ifequal objective.category 'short_term' %}
             {{ objective.title }}
        {% endifequal %}
    {% endfor %}
</section>
{% endblock %}
