{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>トップ | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。まだ、特に何もないです。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="トップ | Noots-Val">
<meta property="og:description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。まだ、特に何もないです。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'official_site/css/index.css' %}"/>
{% endblock %}

{% block contents %}
<img class="main_message" src="{% static 'official_site/img/main_message.png'%}"/>
<img class="main_img" src="{% static 'official_site/img/Noots.png'%}"/>
{% endblock %}
