{% extends 'common/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'official_site/css/profile.css' %}"/>
{% endblock %}

{% block contents %}
<section>
    <h1>自己紹介</h1>
    <h2>Noots-Valとは</h2>
    <div class="sentences_box">
        <img src="{% static 'official_site/img/Noots.png'%}" class="noots_val_img"/>
        <p class="noots_val_sentences">
            IT業界の発展、日本におけるSE・PGの地位と能力を向上させることを目的とした組織です。といっても、現状はNootsによる個人サークルですが。<br/>
            <br/>
            様々なエンジニアと交流し、現在のIT業界の構造にとらわれない組織となることを目的としています。<br/>
            そのためのアイデアは色々とあるので、今後の活動を見守っていただければと思っています。<br/>
            <br/>
            まだまだ小さく、ろくに活動出来ていませんが、少しでも応援してもいいかもと思ってくださった方、関心を持ってくださった方は気軽にお声がけください。
    </div>
    <h2>製作者プロフィール</h2>
    <div class="sentences_box">
        <!--<img src="{% static 'official_site/img/Noots.png'%}" class="noots_img"/>-->
        <p class="noots_sentences">
            名前：Noots<br/>
            <br/>
            生年月日1992/04/12。<br/>
            借金およそ二千万。<br/>
            早稲田大学社会科学部社会科学科出身。<br/>
            <br/>
            就職活動において、学友に蔓延していた「大企業こだわり」に反発する形でIT技術者を志し、いわゆる文系SEとしてIT業界に飛び込みました。<br/>
            こんな業界だとも知らずに……。<br/>
            <br/>
            IT業界歴は三年目を終了間際といったところです。<br/>
            PG・SEとしての実力はお察しください。<br/>
            行動力はあると自負しています。ブレーキの掛け方は知りません。<br/>
            <br/>
            ちなみに、本物の車のブレーキの掛け方も忘れました。<br/>
            確か、右足で踏むとかそんなルールがあったようななかったような。<br/>
            <br/>
            とりあえずの目標は借金の完済と技術力の向上。<br/>
            お仕事、募集中です。<br/>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'official_site/js/contact.js' %}"></script>
{% endblock %}
