@charset "UTF-8";

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 200px auto 1fr;
  grid-gap: 1vh;

  padding: 1vh;
  height: 300px;
  background: #EEEEEE;
  border: 2px solid #CCCCCC;
}

.product__title {
  grid-column: 1/3;
  grid-row: 1;
}

.product__image-area {
  grid-column: 1/3;
  grid-row: 2;

  display: flex;
  justify-content: center;
  width: auto;
  height: 200px;
  background-color: #FFFFFF;
}

.product__image {
  max-width: 100%;
  max-height: 100%;
}

.product__category {
  grid-column: 1;
  grid-row: 3;
}

.product__price {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
  align-self: center;
}

.product__special-icon {
  grid-column: 1;
  grid-row: 4;
}

.product__favorite-icon {
  grid-column: 2;
  grid-row: 4;

  justify-self: end;
  align-self: center;
}
