{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>お問い合わせ | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。ご連絡くださる方はこちらから。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="お問い合わせ | Noots-Val">
<meta property="og:description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。ご連絡くださる方はこちらから。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'official_site/css/contact.css' %}"/>
{% endblock %}

{% block contents %}
<section>
    <h1>お問い合わせ</h1>
    <h2>メッセージを送る</h2>
    <p class="warning">現在、金欠によりSSLの設定をしていません。ただのサンプルページだと思ってください。<br>
        ご連絡は<a href="https://twitter.com/Noots_Val">Twitter</a>まで。
    </p>
    <div class="sentences_box">
        <p class="contact_sentences">次の項目を入力して送信ボタンをクリックしてください。全て入力必須です。</p>
    </div>

    <form class="contact_form" name="contactForm" role="form" method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit" value="Submit" id="sending_button" class="elliptic_button">送信する</button>
    </form>
</section>
{% endblock %}
