{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    <title>成果物 | Noots-Val</title>
{% endblock %}

{% block description %}
<meta name="description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。主催者のポートフォリオ的な。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="成果物 | Noots-Val">
<meta property="og:description" content="IT業界の明日を憂う個人サークル「Noots-Val」のWEBサイト。主催者のポートフォリオ的な。"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'official_site/css/products.css' %}"/>
{% endblock %}

{% block contents %}
<section class="products">
    <h1>成果物</h1>

    <h2>ホームページ制作</h2>
    <div class="product_box">
        <h3 class="title">Noots-Val公式サイト</h3>
        <div class="img_box">
            <img src="{% static 'official_site/img/logo.png' %}" alt="Noots-val"/>
        </div>
        <p>Djangoによるホームページ制作。<br/>
            本サイトが成果物です。<br/>
            といっても大したサイトではありませんが、model、view、templateくらいは使っています。
        </p>
    </div>

</section>
{% endblock %}
